body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 42px;
  color: #37C670;
}

.wrapper {
display: grid;
grid-template-columns: 1fr 1fr;
height: 100%;
margin: 0 200px;
}

.col1, .col2 {
  margin: 50px 20px;
}

textarea {
    border-radius: 8px;
    height: 250px;
    padding: 10px;
    resize: none;
    width: calc(100% - 20px);
} 

.button-wrapper {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button{
    box-shadow: 0;
    border: none;border: none;
    border-color: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    outline: inherit;
    transition: all 0.3s ease 0s;
}

.reset {
  background-color: rgb(198, 55, 55);
  grid-column: 1;

  &:hover {
    background-color: rgb(119, 13, 13);
  }
}

.create {
  background-color: #37C670;
  grid-column: 2;
  justify-self: right;

  &:hover {
    background-color: #1b6338;
  }
}


.action-wrapper {
  align-content: flex-end;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.action {
  position:absolute;
  height: 50px;
  width: 100px;
  border: 1px solid transparent;
  font-size: 14px;
  color: white;
  
  p {
  text-align: center;
  }
}

.completed {
  background-color: rgb(16, 148, 27);
  right: 120px;
}

.todo {
  background-color: rgb(209, 33, 86);
  right: 0px;
}

.todoarea {
  border: 2px dashed rgb(209, 33, 86);
  border-radius: 6px;
  height: 250px;
  padding: 10px;
  overflow-y: auto;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  color: black;
  list-style: none;
  padding: 5px 0;
  font-size: 20px;
}

ul li::before {
  color: rgb(209, 33, 86);
  content: "\2022";
  font-size: 22px;
  padding-right: 10px;
  vertical-align: middle;
}




