$dark-blue: #011627;
$violet: #b91372;
$violet-hover: #4a072d;
$red:#ff0022;
$red-hover:#7f0011;

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: $violet;
  font-family: 'Leckerli One', cursive;
  font-size: 52px;
  margin-bottom: 0;
  text-align: center;
}

.wrapper {
display: grid;
grid-template-columns: 1fr 1fr;
height: 100%;
//margin: 0 200px;
}

.col1, .col2 {
  margin: 50px 20px;
}

textarea {
  border-radius: 8px;
  height: 250px;
  padding: 10px;
  resize: none;
  width: calc(100% - 20px);
} 

.button-wrapper {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button{
  box-shadow: 0;
  border: none;border: none;
  border-color: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  outline: inherit;
  transition: all 0.3s ease 0s;
}

.reset {
  background-color: $red;
  grid-column: 1;

  &:hover {
    background-color: $red-hover;
  }
}

.create {
  background-color: $violet;
  grid-column: 2;
  justify-self: right;

  &:hover {
    background-color: $violet-hover;
  }
}


.action-wrapper {
  align-content: flex-end;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.action {
  position:absolute;
  height: 50px;
  width: 100px;
  border: 1px solid transparent;
  font-size: 14px;
  color: white;
  
  p {
    text-align: center;
    padding-top: 3px;
  }
}

.completed {
  background-color: $dark-blue;
  right: 120px;
}

.todo {
  background-color: $violet;
  right: 0px;
}

.todoarea {
  border: 2px dashed $violet;
  border-radius: 6px;
  height: 250px;
  padding: 10px;
  overflow-y: auto;
}

ul {
  padding: 0;
  margin: 0;
}

.checkbox {
  margin: 10px auto; 

  input {
    margin-right: 8px;
  }
}